/* Estilos generales */
body {
    font-family: 'Kanit', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1,
h3 {
    color: #fff;
}

a {
    color: #bb86fc;
    text-decoration: none;
}

/* Contenedor para botones y formularios centrados */
.centered-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilos de botones */
button,
.download-link,
.delete-link {
    background-color: #bb86fc;
    color: #121212;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

button:last-child,
.delete-link {
    margin-right: 0;
}

button:hover,
.download-link:hover,
.delete-link:hover {
    background-color: #3700b3;
    color: white;
}

.delete-link {
    background-color: #cf6679;
}

.delete-link:hover {
    background-color: #b00020;
}

/* Estilos para formularios */
.form-container {
    width: 100%;
    max-width: 500px;
}

.form-container form {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
}

input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Estilos para la lista de archivos */
.folder-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.file-container {
    background: #252525;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.file-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.download-link,
.delete-link {
    margin: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .folder-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    .folder-list {
        grid-template-columns: 1fr;
    }

    button,
    .download-link,
    .delete-link {
        padding: 12px 18px;
        margin: 10px;
        font-size: 16px;
    }
}